main {
    flex-direction: column;
}

h1 {
    text-align: center;
    transition: 1s ease;
}

.dados-contato {
    background-color: #202020;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    transition: 2s ease;
}

.dados-lista {
    flex-direction: column;
    gap: 16px;
}

iframe {
    max-width: 100%;
}

.dados-lista ul {
    padding-left: 0px;
}

@media screen and (max-width: 700px) {
    .dados-contato {
        grid-template-columns: 1fr;
    }

    .dados-lista{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

.dados-contato:hover{
    border-radius: 100px;
    rotate: 360deg;
}

.icones2 li:hover{
    padding-top: 5px;
}


