main {
    flex-direction: column;
}

img {
    max-width: 100%;
}

.curso-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #202020;
    position: relative;
    overflow: hidden;
    border-radius: 100px;
    transition: 1s ease;
    border: solid #f5a000 3px;
}

div {
    padding: 12px 24px;
}

.Cursos {
    flex-direction: column;
    padding-left: 0px;
}

h1 {
    text-align: center;
}

.curso-item li {
    background-color: #4d4d4d;
    border-radius: 5px;
    padding: 12px 16px;
}

.curso-item ul {
    flex-wrap: wrap;
    gap: 12px;
}

.curso-item span{
    height: 5px;
    width: 32px;
    background-color: #f5a000;
    display: block;
    border-radius: 5px;
    transition: 1s ease;
}

.curso-item a {
    background-color: #161649;
    width: 250px;
    height: 22px;
    display: inline-block;
    padding: 12px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    bottom: 20px;
    right: -55px;
    transform: rotate(-30deg);
}

.curso-item:hover span {
    width: 150px;
    transition: 1s ease;
}

.curso-item a:hover{
    background-color: #4d4d4d;
}

.Cursos img{
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 700px) {
    .curso-item{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 1000px) {
    main{
        gap: 0px;
    }
    
}

.minecraft{
    width: 1000px;
}

.curso-item:hover{
    rotate: 3deg;
}
